---
layout: bootcamp2
root: .
venue: Utrecht University 
address: Utrecht, Netherlands
country: Netherlands
humandate: Jun 24-25, 2015
humantime: 9:00 am - 5:00 pm 
startdate: 2015-06-24
enddate: 2015-06-25
#latlnang: 60.178127,24.832749
#registration: open
instructor: ["Karthik Ram","Aleksandra Pawlik", "Mateusz Kuzak"]
helper: ["Mateusz Kuzak", "Philip Lijnzaad", "Vincenza Colonna", "Aleksandra Nenadic", "Frederik Coppens", "Angel Corpuz", "Walid Gharib", "Joris Borgdorff", "Carlos Martinez Ortiz"]
eventbrite: 16499828431
contact: data-carpentry@software-carpentry.org
---
<!--
{% if page.eventbrite %}
<iframe
  src="//www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" height="300px" scrolling="auto"></iframe>
{% endif %}
-->

<h2>Workshop Information</h2>
<h3>Data Carpentry</h3>
<p>
In many domains of research the rapid generation of large amounts of data is fundamentally changing how research is done. The deluge of data presents great opportunities, but also many challenges in managing, analyzing and sharing data. Data Carpentry is designed to teach basic concepts, skills and tools for working more effectively with data.  The workshop is aimed at researchers in the life sciences at all career stages and is designed for learners with little to no prior knowledge of programming, shell scripting, or command line tools.
</p>

<h3>Etherpad</h3>
<p>For communication we will be using <a href="https://datacarpentry.etherpad.mozilla.org/68">this Etherpad </a></p>

<h3>Workshop learning objectives  & programme</h3>
<p>Workshop Learning objectives  & programme 

<ul>
<li>How to use spreadsheet programs (such as Excel) more effectively, and the limitations of such programs.</li>
<li>Getting data out of spreadsheets and into more powerful tools (R).</li>
<li>Using databases, including managing and querying data in SQL.</li>
<li>Workflows and automating repetitive tasks, in particular using the command line shell.</li>
</ul>
</p>

<h2> Venue</h2>
<div>
The workshop will be held in room 2.112 of the 
<a href="https://www.google.nl/maps/@52.08636941,5.17699867,20z">Stratenum Building, Universiteitsweg 100, Utrecht</a>
</br>

The <a href="http://i.imgur.com/XprLoeP.png">closest bus stop is "Heidelberglaan"</a>, reachable by bus 12 from
Utrecht Central Station, or bus 28 coming from downtown. 

The route to room 2.112 will be sign-posted inside the 
<a href="http://i.imgur.com/9a6mF1V.jpg">Stratenum building</a>.

</div>


<h3>Contact</h3>
<p>For more information, please contact <a mailto="celia.van.gelder@dtls.nl">Celia van Gelder</a> (DTL, ELIXIR-NL).</p>
<!--<h2>Location</h2>-->


<div class="alert"> <span style="font-size: 14pt;">The participants will need to bring <strong>their own laptops</strong> configured <strong> before </strong>
    the workshop according to the  <a href="#setup">setup instructions</a>. </span></div>

<p>
We especially encourage to register those who may be less familiar with the above topics. There is no prerequisite as to what computing skills and knowledge is required. <br/><br/>
</p>

<h2>Acknowledgements &amp; Support</h2>
<!--<div class="pull-right" style="max-width: 320px; padding-left: 6px;">-->
<p>
The workshop is supported by the <a href="http://www.elixir-europe.org/">ELIXIR programme</a>. <a href="http://www.datacarpentry.org/">Data Carpentry</a>   is a sibling organization of <a href="http://www.software-carpentry.org/">Software Carpentry</a> and is designed to teach basic concepts, skills and tools for working more effectively with data. The structure and objectives of the curriculum as well as the teaching style are informed by Software Carpentry.
</p>

<!--</div>-->


<!--
    Edit this block to show the syllabus and schedule for your workshop.
-->


<h2>Schedule</h2>

<table class="table table-striped">
  <tr> <td>Wednesday</td><td>09:00 - 9:30</td>  <td>Introduction and setup help</td> </tr>
  <tr> <td></td>        <td>09:30 - 10:30</td> <td>
  	<a href="http://datacarpentry.github.io/excel-ecology/">Better use of spreadsheets
  	</a>
  (<a href="https://github.com/datacarpentry/data-ecology/blob/gh-pages/messy-data/survey_data_tabs.xls?raw=true">Sample dataset 1.</a>)
  (<a href="https://github.com/datacarpentry/2015-06-25-PNW/blob/gh-pages/spreadsheet-dh/phm-collection-messy.xls?raw=true">Sample dataset 2</a>)</td> </tr>
   <tr> <td></td>        <td></td> <td>
   	<a href="http://apawlik.github.io/OpenRefine-ecology/">Open Refine</a></td> </tr>
  <tr> <td></td>        <td>10:30 - 11:00</td> <td>Break</td> </tr>
  <tr> <td></td>        <td>11:00 - 12:00</td> <td><a href="https://apawlik.github.io/2015-06-24-dc-utrecht//R/01-intro-to-R.html">Introduction to R</a></td> </tr>
  <tr> <td></td>        <td>12:00 - 13:00</td>  <td>Lunch break</td> </tr>
  <tr> <td></td>        <td>13:00 - 14:30</td> <td>Working with data in R - part 1</td> </tr>
  <tr> <td></td>        <td>14:30 - 15:00</td>  <td>Coffee break</td> </tr>
  <tr> <td></td>        <td>15:00 - 16:45</td>  <td>Working with data in R - part 2</td> </tr>
  <tr> <td></td>       <td>16:45 - 17:00</td>  <td>Wrap-up</td> </tr>
  
  <!-- empty line -->    
  <tr> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td></tr>
 
  <tr> <td>Thursday</td> <td>09:00 - 11:00 </td>  <td>Working with command line - part 1. 
  (<a href="https://github.com/apawlik/shell-novice/blob/gh-pages/filesystem.zip?raw=true">Sample dataset.</a>)</td> </tr>
  <tr> <td></td>        <td>11:00 - 11:30 </td> <td>Break</td> </tr>
  <tr> <td></td>        <td>11:30 - 13:00</td>  <td>Working with command line - part 2</td> </tr>
  <tr> <td></td>        <td>13:00 - 14:00 </td> <td>Lunch</td> </tr>
  <tr> <td></td>        <td>14:00 - 15:00 </td> <td>Introduction to data manipulation with SQL</td> </tr>
  <tr> <td></td>        <td>15:00 - 15:30 </td>  <td>Break</td> </tr>
   <tr> <td></td>       <td>15:30 - 16:45</td>  <td>Working with ELIXIR cloud</td> </tr>
   <tr> <td></td>       <td>16:45 - 17:00</td>  <td>Wrap-up and feedback</td> </tr>
</table>


<hr/>

 </div>

<!--


<div>

<h2> Syllabus</h2>


        <h3>Better use of spreadsheets</h3>
        <ul>
            <li>Formatting data tables in spreadsheets.</li>
            <li>Common formatting mistakes by spreadsheet users.</li>
            <li>Dates as data.</li>
            <li>Basic quality control and data manipulation in spreadsheets.</li>
            <li>Exporting data from spreadsheets.</li>
            <li>Caveats of popular data and file formats.</li>
            <li><a href="http://apawlik.github.io/excel-ecology/ecology-examples/00-intro.html">Lessons</a></li>   
        </ul>

        <h3>The Unix Shell</h3>
        <ul>
            <li>Files and directories: <code>pwd</code>, <code>cd</code>, <code>ls</code>, <code>mkdir</code>, ...</li>
            <li>History and tab completion</li>
            <li>Pipes and redirection</li>
            <li>Looping over files</li>
            <li>Creating and running shell scripts</li>
            <li>Finding things: <code>grep</code>, <code>find</code>, ...</li>
        </ul>
	     <h4>Lessons</h4>
        <ul>
            <li><a href="http://apawlik.github.io/2014-11-27-elixiruk-manchester/lessons/shell/00-intro.html">Lesson 1: Introduction</a></li>
            <li><a href="http://apawlik.github.io/2014-11-27-elixiruk-manchester/lessons/shell/01-filedir.html">Lesson 2: Files and Directories</a></li>
            <li><a href="http://apawlik.github.io/2014-11-27-elixiruk-manchester/lessons/shell/02-create.html">Lesson 3: Creating things</a></li>
            <li><a href="http://apawlik.github.io/2014-11-27-elixiruk-manchester/lessons/shell/03-pipefilter.html">Lesson 4: Pipes and Filters</a></li>
            <li><a href="http://apawlik.github.io/2014-11-27-elixiruk-manchester/lessons/shell/04-loop.html">Lesson 5: Loops</a></li>
            <li><a href="http://apawlik.github.io/2014-11-27-elixiruk-manchester/lessons/shell/05-script.html">Lesson 6: Shell scripts</a></li>
            <li><a href="http://apawlik.github.io/2014-11-27-elixiruk-manchester/lessons/shell/06-find.html">Lesson 7: Finding things</a></li>
        </ul>



    <h3>Introduction and data manipulation with R</h3>
        <ul>
            <li>Introduction to R</li>
            <li>Reading and writing .csv</li>
            <li>Creating Functions</li>
            <li>Looping over files</li>
            <li>Analyzing Multiple Data Sets</li>
            <li>Making Choices - conditionals</li>
        </ul>


<h3>Introduction to working with data in SQL</h3>
        <ul>
            <li>Relational databases.</li>
            <li> Working with SQLite</li>
            <li> Basic queries</li>
            <li> Filtering</li>
            <li> Building more complex queries</li>
        </ul>

   <h4>Lessons</h4>
        <ul>
            <li><a href="http://apawlik.github.io/2014-11-27-elixiruk-manchester/lessons/sql/sql.html">Introduction to working with data in SQL</a></li>
        </ul>

</div>
-->

<!--
<h2>Additional Resources</h2>

<h3>shell</h3>
<ul>
<li><a href=http://fosswire.com/post/2007/08/unixlinux-command-cheat-sheet/>Unix/Linux Command Reference</a>
<li><a href=https://github.com/swcarpentry/boot-camps/blob/master/shell/shell_cheatsheet.md
>Shell cheat sheet</a>
<li><a href=http://software-carpentry.org/v4/shell/index.html>Software Carpentry shell lessons</a>
</ul>

<h3>R</h3>

<b>Where to learn more about R</b>
<ul>
<li><a href=http://www.statmethods.net/>http://www.statmethods.net/</a> - good for data organization, basics stats and graphs
<li><a href=http://www.gardenersown.co.uk/Education/Lectures/R/anova.htm>http://www.gardenersown.co.uk/Education/Lectures/R/anova.htm</a> - basic parametric and non-parametric stats
<li><a href=http://www.cyclismo.org/tutorial/R/index.html>http://www.cyclismo.org/tutorial/R/index.html</a> - R tutorial
<li><a href=http://www.amazon.com/R-Action-Robert-Kabacoff/dp/1935182390>R in Action</a> - good book as an R reference
<li><a href=http://www.twotorials.com/>http://www.twotorials.com/</a>
<li><a href=http://www.r-bloggers.com/>http://www.r-bloggers.com/</a>
<li><a href=http://tryr.codeschool.com/>http://tryr.codeschool.com/</a>
<li><a href=http://adv-r.had.co.nz/>Advanced R Programming by Hadley Wickham</a>
<li><a href=http://www.computerworld.com/s/article/9239625/Beginner_s_guide_to_R_Introduction>Beginner's Guide to R from Computer World</a>
<li><a href=http://www.scoop.it/t/r-for-journalists>R for Journalists</a>
<li><a href=http://www.r-bloggers.com/>R Bloggers</a>
<li><a href=http://www.inside-r.org/>inside-R</a> 
<li><a href=http://ropensci.org/>rOpenSci</a>
</ul>

<p>
<b>Plotting in R</b>
<ul>
<li><a href=http://www.harding.edu/fmccown/r/>http://www.harding.edu/fmccown/r/</a> - Very simple graphs
<li><a href=https://storify.com/tracykteal/r-galleries>A variety of R gallery recommendations</a>
<li><a href=http://docs.ggplot2.org/>ggplot gallery</a> - extensive and comprehensive; a great resource
<li><a href=http://www.amazon.com/R-Graphics-Cookbook-Winston-Chang-ebook/dp/B00AJ5X7W4/>R Graphics Cookbook</a> - highly recommended
<li><a href=http://www.cookbook-r.com/Graphs/>Some of R Graphics Cookbook plots</a> - a set of some of the plots from the R Graphics Cookbook by Winston Chang
<li><a href=http://rgm3.lab.nig.ac.jp/RGM/R_image_list?page=665&init=true>R Graphical Manual</a> - plots from apparently every R CRAN package
</ul>
-->

<div class="span10 offset1">
<a id="setup">
<h2>Setup</h2> </a>

<p>
  To participate in a Data Carpentry workshop, 
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your workshop.
</p>

{% include setup.html %}

</div>


